<template>
  <div class="col-sm-4 col-md-3 col-lg-3 poll-variant">
    <b-card
      :title="variant.title"
      tag="article"
      style="max-width: 30rem;min-width: 200px;"
      class="mb-1"
    >
        <b-card-text>{{variant.description}}</b-card-text>
        <b-badge pill variant="primary" class="counter" v-if="counter">{{counter}}</b-badge>
        <b-button  variant="outline-danger" class="counter-down" pill @click="counterDown" v-if="counter">-</b-button>
      <b-button  :variant="buttonVariant" @click="counterUp">Выбрать</b-button>
    </b-card>
  </div>
</template>

<script>
import PollModule from '@/core/poll'

export default {
  name: 'PollVariant',
  props: {
    variant: Object
  },
  methods: {
      async counterUp() {
        PollModule.voteVariantUp(this.variant)
      },
      async counterDown() {
        PollModule.voteVariantDown(this.variant)
      }
  },
  computed: {
    counter() {
      return PollModule.getVariantCounter(this.variant)
    },
    rowVotesAvailable() {
      const row = PollModule.getVariantRow(this.variant)
      if (row == null) return false
      const counter = PollModule.getRowCounter(row)
      if (counter > 0) return true
      return false
    },
    buttonVariant(){
      if (this.rowVotesAvailable) return 'primary'
      return 'secondary'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.poll-variant {
  margin-bottom: 1rem;
}
.counter{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.1rem;
}
.counter-down{
    position: absolute;
    bottom: 1.75rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    padding-bottom: 0.25rem;
    text-align: center;
    vertical-align: bottom;
    line-height: 0.25rem;
    font-weight: 900;
    text-decoration: line-through;
    font-size: 3rem;
}
</style>
