<template>
  <div>
    <div class="row">
      <b-col sm="1">
        <label>{{minValue}}</label>
      </b-col>
      <b-col sm="10">
        <b-form-input @update="updateValue" :value="value" type="range" :min="minValue" :max="maxValue"></b-form-input>
      </b-col>
      <b-col sm="1" class="right">
        <label>{{maxValue}}</label>
      </b-col>
      
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <b-form-input @update="updateValue" :value="value"></b-form-input>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PollModule from '@/core/poll'

export default {
  name: 'PollRange',
  props: {
    range: Object
  },
  computed: {
      minValue() {
          return this.range.min_value || 0
      },
      maxValue() {
          return this.range.max_value || 9999
      },
      value() {
        return this.range.value
      }
  },
  methods: {
    updateValue(value) {
      PollModule.updateRange(this.range, value)
    }
  }
}
</script>

<style lang="scss" scoped>
* {
    text-align: left;
}
.right{
    text-align: right;
}
</style>
