<template>
    <div class="poll-card">

        <div class="row flex-row heading-row">
            <h2 class="heading">{{poll.poll_name}}</h2>
            <b-badge pill :variant="available_votes_actions_variant" class="counter" v-if="available_votes_actions != null">{{available_votes_actions}}</b-badge>
        </div>

        <PollRow :row="row" v-for="row in poll.poll_structure" :key="row.id + 'row'" />

        <div class="content">
            <div class="col-md-2 offset-md-1 offset-sm-1 offset-xs-1">
            <b-button :variant="buttonVariant" @click="send">Отправить</b-button>
            </div>
            <b-alert class="col-md-5 col-sm-10 offset-md-1 offset-sm-1 offset-xs-1 oof" variant="danger" :show="!valid">{{poll.error}}</b-alert>
        </div>

        <br>
        <br>
        <br>
        <br>

    </div>
</template>

<script>
// @ is an alias to /src
import PollRow from '@/components/poll/PollRow.vue'
import PollModule from '@/core/poll'
import CommonErrors from '@/common/errors'
import Events from "@/common/events"

export default {
  name: 'PollCard',
  components: {
    PollRow
  },
  computed: {
    available_votes_actions() {
      return PollModule.getPollCounter()
    },
    available_votes_actions_variant() {
      if (this.available_votes_actions) {
        return 'primary'
      }
      return 'secondary'
    },
    buttonVariant() {
      return 'success'
      // if (this.valid) return 'success'
      // return 'secondary'
    }
  },
  methods: {
    async send() {
      this.valid = PollModule.validatePoll()
      if (!this.valid) return

      this.$eventHub.$emit(Events.loading)
      try {
        await PollModule.sendPollVotes()
        this.$bvToast.toast('Данные отправлены', {
          title: `Успех`,
          autoHideDelay: 5000,
          appendToast: true,
          variant: "success"
          })
      } catch (error) {
        console.log(error)
        if (Object.prototype.hasOwnProperty.call(error, 'code')) {
          if (error.code == CommonErrors.ForbiddenError.code) {
            this.$router.push('/home', () => { this.$eventHub.$emit(Events.error, error) })
            return
          }
        }
        throw error
      } finally{
        this.$eventHub.$emit(Events.stopLoading)
      }
    }
  },
  data() {
    return {
      valid: true
    }
  },
  props: {
    poll: Object
  }
}
</script>

<style lang="scss" scoped>
* {
    text-align: left;
}
.heading{
    padding: 0.5rem;
}
.heading-row{
    margin: 0
}
.oof{
  margin-top: 10px;
}
.counter{
    max-height: 2rem;
    max-width: 3rem;
    min-width: 1.8rem;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.5rem 0.25rem;
}
</style>
