<template>
    <div class="row flex-row flex-nowrap variants-line">
        <PollVariant :variant="variant" v-for="variant in variants" :key="variant.id + 'var'" />
    </div>
</template>

<script>
// @ is an alias to /src
import PollVariant from '@/components/poll/PollVariant.vue'

export default {
  name: 'PollVariants',
  components: {
      PollVariant
  },
  props: {
    variants: Array
  }
}
</script>

<style lang="scss" scoped>
* {
    text-align: left;
}
.variants-line{
    max-width: 100%;
    overflow-x: scroll;
    margin-left: 0;
    margin-right: 0;
}
</style>
