<template>
    <div class="poll-row">
        <div class="row flex-row heading-row">
            <h4 class="heading">{{row.row_name}}</h4> 
            <b-badge pill :variant="row_available_votes_actions_variant" class="counter" v-if="row_available_votes_actions != null">{{row_available_votes_actions}}</b-badge>
            <b-alert class="col-md-8 ooff" variant="danger" :show="!valid">{{row.error}}</b-alert>
        </div>

        <PollVariants :variants="row.variants"  v-if="row.type == 'variant'" />

        <PollRange :range="row.range" v-if="row.type == 'range'" />

    </div>
</template>

<script>
// @ is an alias to /src
import PollVariants from '@/components/poll/PollVariants.vue'
import PollRange from '@/components/poll/PollRange.vue'

import PollModule from '@/core/poll'

export default {
  name: 'PollRow',
  components: {
      PollVariants,
      PollRange
  },
  computed: {
      row_available_votes_actions() {
          const row = this.row
          return PollModule.getRowCounter(row)
      },
      row_available_votes_actions_variant() {
          if (this.row_available_votes_actions) {
              return 'primary'
          }
          return 'secondary'
      },
      valid() {
          console.log('valid')
          if (!Object.prototype.hasOwnProperty.call(this.row, 'error')) return true
          if (this.row.error == null) return true
          return false
      }
  },
  props: {
    row: Object
  }
}
</script>

<style lang="scss" scoped>
* {
    text-align: left;
}
.heading{
    padding: 0.5rem;
}
.heading-row{
    margin: 0
}
.ooff{
    margin-left: 10px;
}
.counter{
    max-height: 2rem;
    max-width: 3rem;
    min-width: 1.8rem;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.5rem 0.25rem;
}
.poll-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-top: 2px solid lightgray;
}
</style>
