<template>
  <div class="auth container h-100">
    <div
      class="row h-100 justify-content-center align-items-center" 
      style="min-height: 100vh"
    >
      <b-card
      tag="article"
      style="max-width: 15rem;"
      class="mb-2"
    >
      <b-form-group
        id="fieldset-1"
        label="Authorization"
        label-for="input-1"
      >
      
        <b-input-group prepend="Code:" class="mt-2" >
          <b-form-input
            @input="updateCode"
            :value="code"
            max="9999" 
            autofocus 
            type="number"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxLength="4"
            ></b-form-input>
          <b-input-group-append>
            <b-button variant="info" @click="enter">Enter</b-button>
          </b-input-group-append>
        </b-input-group>
        <!-- {{ code }} -->

      </b-form-group>

    </b-card>
    </div>
  </div>
</template>

<script>
import AuthService from "../services/auth"
import AuthCore from "../core/auth"
import Events from "../common/events"
import router from "../router"

export default {
  computed:{
    state() {
      return false
    }
  },
  methods:{
    updateCode(value){
      if (String(value).length <= 4) {
        this.code = value
      }
    },
    async enter(){
      try {
        this.$eventHub.$emit(Events.loading)
        const token = await AuthService.default.auth(this.code)
        await AuthCore.saveAuthentication(token)
        router.push({name: 'Home'})
      } catch (error) {
        console.log('e', error)
        this.$eventHub.$emit(Events.error, error)
      } finally{
        this.$eventHub.$emit(Events.stopLoading)
      }
    }
  },
  data() {
    return {
      code: ''
    }
  }
}

</script>

<style scoped>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
