<template>
  <div class="home">
    <Header />
    <InfoHeader />
    <PollsList />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import InfoHeader from '@/components/home/InfoHeader.vue'
import PollsList from '@/components/home/PollsList.vue'

export default {
  name: 'Home',
  components: {
    Header,
    InfoHeader,
    PollsList
  }
}
</script>
