<template>
  <div class="poll-page">
    <Header />
    <PollCard :poll="poll" />
  </div>
</template>

<script>


// @ is an alias to /src
import Header from '@/components/Header.vue'
import PollCard from '@/components/poll/PollCard.vue'
import PollModule from '@/core/poll'

export default {
  name: 'PollUser',
  components: {
    Header,
    PollCard
  },
  async beforeRouteEnter(to, from, next) {
    // TODO:  check or 404
    console.log(to.params.id)
    await PollModule.getPollCard(to.params.id)
    next()
  },
  async beforeRouteUpdate(to, from, next) {
    // TODO:  check or 404
    console.log(to.params.id)
    await PollModule.getPollCard(to.params.id)
    next()
  },
  computed: {
      poll() {
        return this.$store.getters.getPoll
      }
  }
}
</script>

<style lang="scss" scoped>
* {
    text-align: left;
}
.poll-page .content {
    padding: 1rem;
}
</style>
