<template>
  <div>
    <b-jumbotron :header="header" :lead="text" />
  </div>
</template>

<script>

import InfoModule from '@/core/info'

export default {
  name: 'InfoHeader',
  data() {
    return {
      info: null
    }
  },
  async created() {
    this.info = await InfoModule.getInfo()
  },
  computed: {
      header() {
          if (this.info == null) return ''
          return this.info.title
      },
      text() {
          if (this.info == null) return ''
          return this.info.text
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    *{
        text-align: left;
    }
</style>
