<template>
  <div class="container-fluid">
    <div class="row">
      <PollBrief :poll="poll" v-for="poll in polls" :key="poll.id" />
    </div>
    <br>
  </div>
</template>

<script>
import PollBrief from '@/components/home/PollBrief.vue'
import PollModule from '@/core/poll'

export default {
  name: 'PollsList',
  components: {
      PollBrief
  },
  async created() {
    await PollModule.getPollList()
  },
  computed: {
    polls () {
      return this.$store.getters.getPolls
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
