<template>
  <div class="col-sm-4 col-md-3 col-lg-2 poll-card">
    <b-card
      :title="poll.poll_name"
      tag="article"
      style="max-width: 20rem;"
      class="mb-1"
    >
      <b-button :to="poll_link" variant="primary">Голосовать</b-button>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'PollBrief',
  props: {
    poll: Object
  },
  computed:{
    poll_link(){
      return '/poll/' + this.poll.id
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.poll-card {
  margin-bottom: 1rem;
}
</style>
