<template>
  <div>
    <b-navbar type="dark" variant="dark" :sticky="true">
        <b-navbar-nav>
        <b-nav-item to="/home"><b>Home</b></b-nav-item>
        </b-navbar-nav>
    </b-navbar>

  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
