<template>
  <div id="app">

    <div class="load-panel" v-show="loading">
      <div class="text-center">
        <b-spinner variant="primary" label="Spinning" style="width: 4rem; height: 4rem;" ></b-spinner>
      </div>
    </div>

    <router-view :class="{'blurred': loading}"/>
  </div>
</template>

<script>
import Events from './common/events'
import Errors from './common/errors'
import SuperfeaturesModule from '@/core/superfeatures'

export default {
  methods: {
    onError(error){
      console.error(error)
      const wrappedError = Errors.ErrorWrapper.wrapError(error)
      this.$bvToast.toast(wrappedError.message, {
        title: `Ошибка #${wrappedError.code}`,
        autoHideDelay: 5000,
        appendToast: true,
        variant: "danger"
      })
    },
    onLoading(){
      this.loading = true
    },
    onStopLoading(){
      this.loading = false
    },
  },
  created() {
    SuperfeaturesModule.startPolling()
  },
  beforeDestroy() {
    SuperfeaturesModule.stopPolling()
  },
  mounted: function(){
    this.$eventHub.$on(Events.error, this.onError)
    this.$eventHub.$on(Events.loading, this.onLoading)
    this.$eventHub.$on(Events.stopLoading, this.onStopLoading) 

  },
  data() {
    return {
      loading: false
    }
  }
}
</script>

<style lang="scss">
.load-panel{
  position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);

    z-index: 100;
}

.blurred{
  filter: blur(1px);
  /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
  -webkit-filter: blur(1px);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
